html {
    box-sizing: border-box;
    background-color: #d3d3d3;
    font-family: sans-serif;
}

body {
    margin: 0;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url('./pizza-4952509_1920.jpg');
    background-position: center;
    background-size: cover;
}

.nav {
    height: 10vh;
    width: 100%;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonDiv {
    display: flex;
    position: absolute;
    height: 10vh;
    align-items: center;
}

.nav img {
    height: 100px;
    width: 100px;
    margin-right: auto;
    margin-left: 20px;
    cursor: pointer;
}

button {
    box-sizing: border-box;
    margin: auto 5px;
    background-color: rgb(30, 30, 30);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
}

button:hover {
    border-bottom: 1px solid white;
}

.home {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.home p {
    margin: 10px auto;
}

.home p:first-child {
    font-size: 144px;
    font-weight: 700;
}

.home p:nth-child(2) {
    font-size: 72px;
}

.home p:last-child {
    font-size: 36px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    background-color: rgb(30, 30, 30);
    font-size: 24px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.7);
    width: 50%;
    height: 65vh;
    padding: 10px;
}

.menuItem {
    flex: 0 0 32%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(30, 30, 30, 0.9);
    color: white;
}

.menuItem p {
    margin: 5px 0px;
    font-weight: 500;
    font-size: 2rem;
}

.contact {
    background-color: rgba(50, 50, 50, 0.5);
    width: 50%;
    height: 65vh;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.contact p:first-child {
    font-size: 60px;
    font-weight: 600;
}